div.login {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
div.reg {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
#noacc {
    display: block;
    position: relative;
    color:black;
    left:30px;

}


