.listitems{
    background-color: rgb(70, 224, 224,0.3);
    border:1px solid black;
    width: 100%;

}
.listitems:hover {
    background-color: rgb(70, 224, 224,1);
}
.overdueitems {
    background-color: rgb(221, 150, 57, 0.3);
    border:1px solid black;
    width:100%;
    transition: all 0.5s;
}
.overdueitems:hover {
    background-color: rgb(221, 150, 57, 1);
    transform: scale(1.05);

}


#textArea{
    display:inline;
    position: relative;
    background-color: rgb(73, 231, 231, 1);
    opacity: 0;
    transition: all .2s;
}
#textArea.active {
    opacity:1;

}

.close {
    color: red;
}

.close .tooltiptext{
  visibility: hidden;
  width: 100px;
  height:100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
}
.close:hover .tooltiptext{
    visibility: visible;
}

.done {
    display: inline;
    position: absolute;
    right:10vw;
}

.done .tooltiptext{
    visibility: hidden;
    width: 100px;
    height:100px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
}

.done:hover .tooltiptext{
    visibility: visible;
}
