<html>
<head>
<title>This is a reminder</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css">


</head>
<body style="background-color: #1fe951">
<h1 class="intro">Hello <%= userName %></h1>
<h2>Email sent </h2>
<h2>Testing CSS files for email templates: </h2>
<ul>
    <% for (var i = 0; i < mongoDB.length; i++) { %>
        <li> <%= JSON.stringify(mongoDB[i]) %> </li>
    <% } %>
</ul>
<img src="https://www.itl.cat/pngfile/big/103-1032762_related-images-ergonomic-office-set-up.jpg">
</body>
</html>
